@use "../../styles/mixins";
@use "../../styles/variables" as *;

.footer {
  background-color: transparent;
  width: 100%;
  height: 4rem;
  padding: 1rem 0;

  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    .footer__group {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 1rem;
    }

    .footer__social {
      display: flex;
      justify-content: center;
      padding-left: 0;
      gap: 2rem;

      &-link {
        @include mixins.breakpoint-up(xlarge) {
          font-size: 1.5rem;
        }

        &:hover img {
          transform: translate(0.5rem, -0.5rem);
          transition: all 0.4s linear;
        }
      }
    }

    .footer__copy {
      font-size: $fontSm;
      color: $textClr;
    }
  }
}
